
.row {
  display: flex;
  justify-content: space-between;
  background-color: #9DB2BF;

}

.box {
  width: calc(33.33% - 10px);
  height: 2060px;
  background-color: #DDE6ED;
  margin: 5px;
  border-radius: 0.8%;
}
.box2 {
  width: calc(50% - 10px);
  height: 2060px;
  background-color: #DDE6ED;
  margin: 5px;
  border-radius: 0.8%;
}
.boxMin {
  width: calc(33.33% - 10px);
  height: 860px;
  background-color: #DDE6ED;
  margin: 5px;
  border-radius: 0.8%;
}

.title {
    margin-top: 8px;
    margin-bottom: -4px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard {
  background-color: #526D82;
  color: #ffffff;
  padding: 12px;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;

}

.miniTitle {
    margin-top: 5px;
    margin-left: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }

  .icon-img{
    height: 23px;
    width: 23px;
  }

  .miniText{
    font-family: Arial, sans-serif;
    margin-left: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;

  }
  a{
    text-decoration: none;
  }